#content {
  flex-grow: 1;
  background-color: #313338;
  color: #CCCCCC;
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;
  /* TODO Border messes some stuff up right now => maybe another child div? */
  /* border: 1px solid #4c4c4c;
  padding: 1px; */
}
