#content {
  flex-grow: 1;
  background-color: #313338;
  color: #CCCCCC;
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;
  background-image: url('../images/twitch_redeems_logo.png');
  background-repeat: no-repeat;
  background-size: 300px auto;
  background-position: center center;
}
