@font-face {
  font-family: 'Consolas';
  src: url('../fonts/consola.ttf');
}

#window {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #313338;
}

.window-control {
  font-size: 20px;
  padding: 0;
  margin-right: 0px;
  line-height: 1;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: #313338;
  border: 0px solid #313338;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
  overflow: hidden !important;
}

/* Scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
